server:
  port: 8001
  servlet:
    context-path: /spring-data-jpa-custom-query-for-mongo-db

spring:
  datasource:
    initialization-mode: always
  data:
    mongodb:
      uri: mongodb://customerUser:password@localhost:27017/customer?authSource=admin
      database: customer

logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
        transaction: DEBUG
        data:
          mongodb:
            core:
              ReactiveMongoTemplate: DEBUG
              MongoTemplate: DEBUG
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE